.btn {
	&,
	&:active,
	&:visited {
		.lsx & {
			box-shadow: none;
			font-weight: normal;
			left: 0;
			min-width: 220px; // design
			top: 0;
		}
	}

	&:hover,
	&:hover:active,
	&:focus {
		.lsx & {
			font-weight: 900;
		}
	}

	// &.cta-btn {
	// 	&,
	// 	&:active,
	// 	&:visited {
	// 		font-weight: 900;
	// 	}
	// }
}
