.btn {
	&,
	&:active,
	&:visited {
		.lsx & {
			box-shadow: none;
			font-weight: normal;
			left: 0;
			min-width: 220px;
			top: 0;
		}
	}

	&.cta-btn {
		&,
		&:active,
		&:visited {
			font-weight: 900;
		}
	}
}
