.minimal-slider {
	.slick-arrow {
		background: transparent;
		border: none;
		border-radius: 50%;
		font: 0/0 a;
		height: $slider-arrow-size;
		padding: 0;
		position: absolute;
		text-shadow: none;
		top: 50%;
		transform: translateY(-50%);
		width: $slider-arrow-size;
		z-index: 3;

		&:before {
			content: '';
			display: block;
			height: $slider-arrow-size;
			width: $slider-arrow-size;

			background: transparent url(../images/sprite-arrows@2x.png) no-repeat 0 0;
			background-size: ($slider-arrow-size * 2) ($slider-arrow-size * 2);
		}

		&.slick-prev {
			left: $slider-arrow-margin;

			&:before {
				background-position: 0 0;
			}

			&:hover {
				&:before {
					background-position: 0 -#{$slider-arrow-size};
				}
			}
		}

		&.slick-next {
			right: $slider-arrow-margin;

			&:before {
				background-position: -#{$slider-arrow-size} 0;
			}

			&:hover {
				&:before {
					background-position: -#{$slider-arrow-size} -#{$slider-arrow-size};
				}
			}
		}
	}
}

.minimal-slider-slide-content-wrapper {
	background: transparent url(../images/main@2x.jpg) no-repeat center center;
	background-size: cover;
	display: flex;
	flex-direction: row;
	min-height: 50vh;

	@include media('>=desktop') {
		height: 660px; // design
	}
}

.minimal-slider-slide-content {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: $gap-medium calc(#{$slider-arrow-margin} + #{$slider-arrow-size} + #{$bootstrap-column-spacing});
	text-align: center;
	width: 100%;
}

.minimal-slider-slide-tagline {
	font-size: $header-h3-size;
	font-weight: 300;
	letter-spacing: $letter-spacing-large;
}
