#home-widgets {
	& > .widget {
		margin-bottom: $gap-large;

		&:nth-child(even):last-child {
			margin-bottom: 0;
		}

		&:nth-child(even) {
			margin-left: -999rem;
			margin-right: -999rem;
			padding: $gap-large 999rem;
		}
	}

	h3,
	.widget-title {
		font-size: $header-h3-size;
		margin-bottom: $gap;

		&:after { display: none; }
	}
}

.content-area,
.widget-area {
	font-weight: 300;
}
