#home-widgets {
	& > .widget {
		margin-bottom: 10rem;

		&:nth-child(even):last-child {
			margin-bottom: 0;
		}

		&:nth-child(even) {
			margin-left: -999rem;
			margin-right: -999rem;
			padding: 10rem 999rem;
		}
	}

	h3,
	.widget-title {
		font-size: 24px;
		margin-bottom: 2.8rem;

		&:after { display: none; }
	}
}

.content-area,
.widget-area {
	font-weight: 300;
}
