#home-widgets {
	& > .widget {
		// Buttons

		.minimal-buttons-wrapper {
			margin-top: 5rem;

			@include media('<phone') {
				.text-left,
				.text-right { text-align: center; }

				[class*="col-"] + [class*="col-"] {
					margin-top: $gap;
				}
			}
		}

		// USPs

		.minimal-usp-wrapper {
			margin-bottom: -$gap-special-usp;
			margin-top: -$gap;

			@include media('<phone') {
				[class*="col-"] + [class*="col-"] {
					margin-top: 0;
				}
			}
		}

		.minimal-usp {
			margin-bottom: $gap-special-usp;
			margin-top: $gap-special-usp;
			padding-left: (60px + ($bootstrap-column-spacing * 2));
			position: relative;

			&:before {
				background: transparent url(../images/sprite-usp@2x.png) no-repeat 0 0;
				background-size: 84px 73px;
				bottom: 0;
				content: '';
				left: 0;
				position: absolute;
				top: 0;
			}
		}

		.minimal-usp-contractor {
			&:before {
				background-position: 0 -28px;
				height: 39px;
				margin-left: (60px - 31px) / 2;
				margin-top: -(39px / 2);
				top: 50%;
				width: 31px;
			}
		}

		.minimal-usp-fleet {
			&:before {
				background-position: -31px -31px;
				height: 42px;
				margin-left: (60px - 42px) / 2;
				margin-top: -(42px / 2);
				top: 50%;
				width: 42px;
			}
		}

		.minimal-usp-camera {
			&:before {
				background-position: 0 0;
				height: 28px;
				margin-left: (60px - 51px) / 2;
				margin-top: -(28px / 2);
				top: 50%;
				width: 51px;
			}
		}

		.minimal-usp-helmet {
			&:before {
				background-position: -51px 0;
				height: 31px;
				margin-left: (60px - 33px) / 2;
				margin-top: -(31px / 2);
				top: 50%;
				width: 33px;
			}
		}

		// Clients

		.minimal-client-wrapper {
			margin-top: $gap-medium;
			text-align: center;

			@include media('>=phone') {
				display: flex;
				flex-flow: row wrap;
				justify-content: space-between;
				text-align: none;
			}
		}

		.minimal-client {
			& + .minimal-client {
				margin-top: $gap-medium;

				@include media('>=phone') {
					margin-top: 0;
				}
			}

			a {
				background-position: center center;
				background-repeat: no-repeat;
				display: inline-block;

				text-indent: -9999px;

				@include media('>=tablet') {
					opacity: 0.35;

					&:hover {
						opacity: 1;
					}
				}
			}
		}

		.minimal-client-fox {
			a {
				background-image: url(../images/fox_logo@2x.png);
				background-size: 115px 38px;
				height: 38px;
				width: 115px;
			}
		}

		.minimal-client-hbo {
			a {
				background-image: url(../images/hbo_logo@2x.png);
				background-size: 97px 39px;
				height: 39px;
				width: 97px;
			}
		}

		.minimal-client-rapha {
			a {
				background-image: url(../images/rapha_logo@2x.png);
				background-size: 131px 57px;
				height: 57px;
				width: 131px;
			}
		}

		.minimal-client-apple {
			a {
				background-image: url(../images/apple_logo@2x.png);
				background-size: 39px 47px;
				height: 47px;
				width: 39px;
			}
		}
	}
}
