@mixin customizer-minimal-body-colours ($bg_section: #FAFBFC) {
	#home-widgets {
		& > .widget {
			&:nth-child(even) {
				background-color: $bg_section;
			}
		}

		.minimal-post-slot {
			h4 {
				color: white;
			}
		}
	}

	.minimal-post-slot {
		color: white;

		a:not(.btn) {
			&,
			&:active,
			&:visited {
				color: white;
			}

			&:hover,
			&:hover:active,
			&:focus {
				color: white;
			}
		}
	}

	.minimal-slider-slide-title,
	.minimal-slider-slide-tagline {
		color: white;
	}
}

@mixin customizer-minimal-button-colours ($shadow: #ECEFF1) {
	.btn {
		&,
		&:active,
		&:visited {
			border: 1px solid $shadow;
		}

		&:hover,
		&:hover:active,
		&:focus {
			box-shadow: 0 0 25px 0 $shadow;
		}
	}
}

@mixin customizer-minimal-lsx-testimonials-body-colours($small: #313F48) {
	.content-area {
		.lsx-testimonials-content { color: $small; }
	}
}
