body { font-family: 'Helvetica Neue'; }

h1, h2, h4, h5, h6,
.h1, .h2, .h4, .h5, .h6 { font-family: 'Avenir'; }

h3, .h3 { font-family: 'Avenir Book'; }

.content-area,
.widget-area {
	blockquote {
		&:before { font-family: 'Avenir'; }
	}
}

.btn { font-family: 'Avenir'; }

.blog,
.archive,
.search.search-results {
	article.post,
	article.page {
		.entry-title {
			.label-sticky { font-family: 'Helvetica Neue'; }
		}
	}
}

#respond {
	.comment-reply-title {
		& > small { font-family: 'Helvetica Neue'; }
	}
}

#comments {
	.media-list {
		.media {
			.media-heading { font-family: 'Helvetica Neue'; }
		}
	}
}

.minimal-slider-slide-tagline {
	font-family: 'Avenir';
}
