.content-info {
	font-size: 10px;
	letter-spacing: $letter-spacing-medium;
	padding: $gap-medium 0 $gap-large 0;

	& > .container {
		& > .row {
			& > div[class*='col-'] {
				display: block;
			}
		}
	}

	.credit {
		&.credit-float { text-align: center; }

		&:before {
			background: transparent url('../images/logo-footer@2x.png') no-repeat center center;
			background-size: 28px 26px;
			content: '';
			display: block;
			height: 26px;
			margin-bottom: ($gap-medium / 2);
			margin-left: calc(50% - (28px / 2));
			width: 28px;
		}
	}
}

.footer-navigation {
	text-transform: uppercase;

	& > ul {
		justify-content: center;
		padding: ($gap-medium / 2) 0 0 0;

		& > li {
			padding-left: 15px;
			padding-right: 15px;

			& > a {
				display: inline-block;
				padding: 4px 0;
			}

			&:not(:last-child):after {
				display: none;
			}
		}
	}
}
