h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
	letter-spacing: 5px;
	text-transform: uppercase;
}

h1, .h1,
h4, .h4 {
	font-size: 44px;
	font-weight: 900;
}

h3, .h3 { font-size: 24px; }

h4, .h4 { font-size: 20px; }

h2, h3, h5, h6,
.h2, .h3, .h5, .h6 {
	font-weight: normal;
}
