$bootstrap-column-spacing: 10px;
$bootstrap-lg-container-size: 970px;

$gap-elements: 20px;
$gap: 2.8rem;
$gap-medium: 7.2rem;
$gap-large: 10rem;

$gap-special-usp: 6rem;

$header-h1-size: 44px;
$header-h2-size: 44px;
$header-h3-size: 24px;
$header-h4-size: 20px;

$letter-spacing: 0.5px;
$letter-spacing-medium: 1.5px;
$letter-spacing-large: 5px;

$slider-arrow-size: 50px;
$slider-arrow-margin: 3rem;
$slider-dots-size: 10px;

$testimonial-avatar-size: 72px;
